---
layout: default
---

{% assign page_data = site.data.data_en %}

{% include career-profile.html page_data=page_data %}
{% unless page_data.sidebar.education %}
{% include education.html page_data=page_data %}
{% endunless %}
{% include publications.html page_data=page_data %}
{% include experiences.html page_data=page_data %}
{% include awards.html page_data=page_data %}
{% include certifications.html page_data=page_data %}
{% include projects.html page_data=page_data %}
{% include oss-contributions.html page_data=page_data %}

{% include recommendations.html page_data=page_data %}
{% include skills.html page_data=page_data %}
