{% assign awards = include.page_data.awards %}
{% if awards and awards.info %}

<section class="section awards-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-trophy fa-stack-1x fa-inverse"></i>
    </span>
    {{ awards.title }}
  </h2>

  <ul class="fa-ul">
    {% for award in awards.info %}
      <li>
        <span class="fa-li"><i class="fas fa-award"></i></span>
        <strong>{{ award.name }}</strong> ({{ award.year }})
        {% if award.details %}
          <p>{{ award.details }}</p>
        {% else %}
          <p>&nbsp;</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  
</section><!--//section-->

{% endif %}
