<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      {{ sidebar.email }}
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li class="phone"><i class="fas fa-phone"></i>
      {{ sidebar.phone }}
    </li>
    {% endif %}

    {% if sidebar.citizenship %}
    <li class="citizenship"><i class="fas fa-passport"></i>
      {{ sidebar.citizenship }}
    </li>
    {% endif %}

    {% if sidebar.party_member %}
    <li class="party_member"><i class="fas fa-user-check"></i>
      {{ sidebar.party_member }}
    </li>
    {% endif %}
    
    {% if sidebar.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="{{ sidebar.github }}" target="_blank">{{ sidebar.github | replace: "https://github.com/", "" }}</a>
    </li>
    {% endif %}

    {% if sidebar.huggingface %}
    <li class="huggingface"><span>🤗</span>
      <a href="{{ sidebar.huggingface }}" target="_blank">{{ sidebar.huggingface | replace: "https://huggingface.co/", "" }}</a>
    </li>
    {% endif %}
    
    {% if sidebar.pdf %}
    <li class="pdf"><i class="fas fa-file-pdf"></i>
      <a href="{{ sidebar.pdf }}" target="_blank">{{ sidebar.labels.pdf | default: "Resume PDF" }}</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
