{% assign education = site.data.data.education %}
{% if education %}

<div class="education-container container-block">
  <h2 class="container-block-title">
    {{ education.title }}
  </h2>

  {% for edu in education.info %}
  <div class="education-item">
    <h3 class="education-degree">{{ edu.degree }}</h3>
    <p class="education-university">{{ edu.university }}</p>
    <p class="education-time">{{ edu.time }}</p>
    <ul class="education-details list-unstyled">
      {% for detail in edu.details | split: "\n" %}
      {% if detail != "" %}
      <li>{{ detail | strip }}</li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>

{% endif %}
