{% assign languages = include.page_data.sidebar.languages %}
{% if languages %}
<div class="languages-container container-block">

  <h2 class="container-block-title">
    {{ include.page_data.sidebar.labels.languages_title | default: languages.title }}
  </h2>

  <ul class="list-unstyled interests-list">
    {% for language in languages.info %}
    <li>
      {{ language.idiom }}
      <span class="lang-desc">({{ language.level }})</span>
    </li>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
